/__pycache__
/.env
/venv
/test_alerts
/plot_l3.py
/plot_mrms.py
/graphics
*.idx
*.grib2
/mrms_stuff
/latest.grib2
/counties2
/api_scrape.py
/loggedAlerts
/counties5m
/gis_preprocess.py
/roads_preprocess.py
/cities_preprocess.py
/counties500k
/bigdomain.py
/uscities.csv 